<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-stacked nav-list bs-docs-sidenav affix">
			<li class="active"><a href="#mt">对象</a></li>
			<li><a href="#org">机构</a></li>
			<li><a href="#role">角色</a></li>
			<li><a href="#mm">机器</a></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<section id="mt">
			<table class="table">
				<thead>
					<tr>
						<th>对象名</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mt in mts">
						<td href="#!/mfs">{{mt.name}}</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section id="org">
			<table class="table">
				<thead>
					<tr>
						<th>机构</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mt in mts">
						<td href="#!/mfs">{{mt.name}}</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section id="role"></section>
		<section id="mm">
			<div class="pull-right">
				<a href="#!/mm/create" class="btn btn-default" title="Create"><span
					class="glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="page-header">
				<h3>MM</h3>
			</div>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>ip</th>
						<th>端口</th>
						<th>权重</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mm in mms">
						<td>{{mm.hostip}}</td>
						<td>{{mm.port}}</td>
						<td>{{mm.weight}}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>
