<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>CloudErp</display-name>

	<!-- Load Spring Context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/context.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Map the REST Servlet to /rest/ -->
	<servlet>
		<servlet-name>RestService</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.tutu.clouderp.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestService</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccessViewStatusMessages</servlet-name>
		<servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>AccessViewStatusMessages</servlet-name>
		<url-pattern>/lbAccessStatus</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>cors</filter-name>
		<filter-class>com.tutu.clouderp.session.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>auth</filter-name>
		<filter-class>com.tutu.clouderp.session.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>auth</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>


</web-app>